/* Write your CSS here */

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: aqua;
}
.card-container {
  height: 40vh;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 20px;
  min-width: 30vw;
}
.select-question {
  margin-right: 10px;
  font-weight: bold;
  width: 180px;
  height: 30px;
}
.question-container {
  display: flex;
  align-items: center;
}

.country {
  font-size: 25px;
  font-weight: bold;
}
